body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E4E2;
    padding: 0px;
    margin: 0px;
}

.logo {
    max-width: 400px;
    margin: 32px;
}

.header {
    background-color: #61876e;
    width: 100%;
    height: 32px;
    margin: 0px;
}

.basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    /* border: solid #609966; */
    border-radius: 8px;
    border-width: 2px;
    background-color: #edf1d6;
    padding: 8px;
}

label {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round';
}

input {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    width: 256px;
    border: solid #c7e8ca;
    border-radius: 4px;
    border-width: 2px;
    background-color: #f7f1e5;
}

.date {
    display: flex;
    margin: 0px;
}

.date label {
    margin: 8px;
}

.date input {
    width: 96px;
}

.timeToTake {
    display: flex;
    align-items: center;
}

.timeToTake input {
    width: 96px;
}


.timeInputs {
    display: flex;
    flex-direction: column;

}

button {
    background-color: #82cd47;
    border: solid #609966;
    border-radius: 4px;
    border-width: 1px;
    font-family: 'Varela Round';
    width: 64px;
    height: 32px;
    margin-left: 16px;
    margin-right: 16px;
}

.buttons {
    display: flex;
}

.hourlyBox {
    /* border: solid #609966; */
    border-radius: 8px;
    border-width: 2px;
    background-color: #edf1d6;
    padding: 8px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 4px;
}

.prescription {
    font-family: 'Varela Round';
    margin: 4px;
}

#content {
    display: flex;
    height: 100%;
}

#right {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    flex: 1 1 0;
}

#left {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    flex: 1 1 0;
}

#time {
    font-size: 24px;
    font-family: 'Varela Round';
}

.visible {
    visibility: visible;
}

.invisible {
    /* visibility: hidden; */
    background-color: blue;
}

.overdue {
    background-color: red;
}